---
import whatsapp from '../assets/logo-blanco-lgc.png'
import truck from '../assets/logo-blanco-lgc.png'
import firma from '../assets/logo-blanco-lgc.png'
import pelota from '../assets/logo-blanco-lgc.png'
import logo from '../assets/logo-blanco-lgc.png'

const items = [
  { id: 1, icon: {whatsapp}, title: 'Contactate' , text: "En poco tiempo estas disfrutando de tu cancha"},
  { id: 2, icon: {truck}, title: 'Coordinamos' , text: "Aca va un pequeño texto"},
  { id: 3, icon: {firma}, title: 'Acuerdo Firmado' , text: "Aca va un pequeño texto"},
  { id: 4, icon: {pelota}, title: 'Armado de cancha' , text: "Aca va un pequeño texto"},
  { id: 5, icon: {logo}, title: 'Listo para jugar!', text: "Aca va un pequeño texto"},
  { id: 6, icon: {logo}, title: 'Compartí la experiencia', text: "Aca va un pequeño texto"}
];
---

<section class="py-16 px-4 text-center bg-white" >
  <h2 class="text-5xl font-bold text-primary mb-2">Cómo funciona</h2>
  <p class="text-primary text-lg mb-12">Reservar tu cancha nunca fue tan fácil. Seguí estos pasos y empezá a jugar</p>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-10 justify-items-center">
    {items.map((item, index) => (
      <div class="flex flex-col items-center">
        <div class="p-6 rounded-[50%] bg-secondary mb-2">
           <img src={item.icon.whatsapp?.src} alt="Little Giants Courts" class="w-16 h-16 "/> 
        </div>
        
        <p class="text-lg font-bold text-primary">{item.title}</p>
        <p class="text-sm font-medium text-primary">{item.text}</p>

      </div>
    ))}
  </div>
</section>
